@inject ApplicationCore.Interfaces.IForexService forexService;
@page "/forex"

@namespace Web.Pages.Forex

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Forex Deals</h2>

            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Murex</th>
                        <th scope="col">Deal Key</th>
                        <th scope="col">Ref</th>
                        <th scope="col">Ticket</th>
                        <th scope="col">Deal Date</th>
                        <th scope="col">Value Date</th>
                        <th scope="col">Counterparty</th>
                        @*<th scope="col">SWAP</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Bought Sum</th>
                        <th scope="col">Rate</th>*@
                    </tr>
                </thead>
                @foreach (var item in forexList)
                {
                    <tbody>
                        <tr>
                            <td> @item.Nmurexoid </td>
                            <td> @item.Id </td>
                            <td> @item.Cdealnumber </td>
                            <td> @item.Cticket</td>
                            <td> @item.Dcontrdate</td>
                            <td> @item.Dvaluedateb </td>
                            <td> @item.Ccontrcode</td>
                        </tr>
                    </tbody>
                }
            </table>

            <div class="row">
                <div class="col">
                    <button class="btn btn-success" @*@onclick="AddForex"*@>Add New Forex</button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {


    private List<ApplicationCore.Models.Forex> forexList;

    protected override async Task OnInitializedAsync()
    {
        forexList = await forexService.ListLastYearAsync();
    }
}