@page "/create-depo"
@inject ApplicationCore.Interfaces.IDepoService depoService
@inject ApplicationCore.Interfaces.ICurrencyService currencyService
@inject ApplicationCore.Interfaces.IBooksService booksService 
@inject ApplicationCore.Interfaces.IBrokersService brokersService
@inject ApplicationCore.Interfaces.IDealersService dealersService
@namespace Web.Pages.DepoList

<Web.Pages.Orgs.OrgsListModal @ref="@OrgsShow"></Web.Pages.Orgs.OrgsListModal>
@*<div class="modal @ModalClass" tabindex="-1" id="depoCreateModal"role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-xl" role="document" style=" overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MM Deal Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" height: 80vh; overflow-y: auto;">*@
<div class="container-fluid">
    <h2>Create new MM Deal</h2>
    <div class="row border rounded">

        <div class="col">
            <div class="form-group row m-2">
                <label for="murexId" class="col-sm-4">Murex Id</label>
                <div class="col-sm-8">
                    <input id="murexId" type="text" name="murexId" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group row m-2">
                <label for="murexOrId" class="col-sm-4">Murex Original Id</label>
                <div class="col-sm-8">
                    <input id="murexOrId" name="murexOrId" type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="row border rounded">
        <div class="col ">
            <!--Reference-->
            <div class="form-group row m-2">
                <label for="reference" class="col-sm-5">Reference</label>
                <div class="col-sm-7">
                    <input id="reference" name="reference" type="text" class="form-control" />
                </div>
            </div>

            <!--Deal Ticket-->
            <div class="form-group row m-2">
                <label for="dealTicket" class="col-sm-5">Deal Ticket</label>
                <div class="col-sm-7">
                    <input id="dealTicket" name="dealTicket" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col ">
            <!--Reg. Date-->
            <div class="form-group row m-2">
                <label for="regDate" class="col-sm-5">Reg. Date</label>
                <div class="col-sm-7">
                    <input id="regDate" type="date" name="regDate" class="form-control" disabled />
                </div>
            </div>
            <!--Deal Date-->
            <div class="form-group row m-2">
                <label for="dealDate" class="col-sm-5">Deal Date</label>
                <div class="col-sm-7">
                    <input id="dealDate" type="date" name="dealDate" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col  border rounded">
            <!--Start Date-->
            <div class="form-group row m-2">
                <label for="startDate" class="col-sm-5" disabled>Start Date</label>
                <div class="col-sm-7">
                    <input id="startDate" type="date" name="startDate" class="form-control" />
                </div>
            </div>
            <!--On Call-->
            <div class="form-group row m-2">
                <div class="col-sm-7">
                    <div class="custom-control custom-checkbox">
                        <label class="custom-control-label" for="oncall">On Call</label>
                        <input type="checkbox" class="custom-control-input" id="oncall" name="oncall">
                    </div>
                </div>
            </div>

            <!--Marturity Date-->
            <div class="form-group row m-2">
                <label for="martDate" class="col-sm-5">Marturity Date</label>
                <div class="col-sm-7">
                    <input id="martDate" type="date" name="martDate" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row border rounded">
        <div class="col">
            <!--Counterparty-->
            <div class="form-group row m-2">
                <label for="counterparty" class="control-label col-sm-5">Counterparty</label>
                <div class="col-sm-7">
                    <div class="input-group mb-3">
                        <input id="counterparty" name="counterparty" type="text" class="form-control" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" data-toggle="modal" type="button" @onclick="(() => OrgsShow.Open())">
                                <span class="oi oi-ellipses"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <!--Client-->
            <div class="form-group row m-2">
                <label for="client" class="control-label col-sm-5">Client </label>
                <div class="col-sm-7">
                    <div class="input-group mb-3">
                        <input id="client" name="client" type="text" class="form-control" />

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" data-toggle="modal" type="button" @onclick="(() => OrgsShow.Open())">
                                <span class="oi oi-ellipses"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <!--Counterparty NAME-->
            <div class="form-group row m-2"
                             <div class="col-sm-7">
                                <input id="counterpartyName" name="counterpartyName" type="text" class="form-control" disabled />
                             </div>
            </div>
            <!--Clinet NAME -->
            <div class="form-group row m-2"
                             <div class="col-sm-7">
                                <input id="clientName" name="clientName" type="text" class="form-control" disabled/>
                             </div>
            </div>
        </div>
        <div class="col">
            <!--Settlement-->
            <div class="form-group row m-2"
                             <label for="settlement" class="control-label col-sm-5">Settlement</label>
                             <div class="col-sm-7">
                                <input id="settlement" name="settlement" type="text" class="form-control" />
                             </div>
            </div>
            <!--Vescel-->
            <div class="form-group row m-2"
                              <div class="col-sm-7">
                            <div class="custom-control custom-checkbox  custom-control-inline">
                             <label class="custom-control-label col-sm-5" for="vescel">Vescel</label>
                                 <input type="checkbox" class="custom-control-input" id="vescel" name="vescel">
                                </div>
                             <!--R/O-->
                             <div class="custom-control custom-checkbox  custom-control-inline">
                                 <label for="ro" class="custom-control-label">R/O</label>
                                 <input id="ro" type="checkbox" class="custom-control-input" name="ro" />
                             </div>
                             </div>
                          </div>
        </div>
    </div>
    <div class="row border rounded">
        <div class="col">
            <!--Take Give-->
            <div class="form-group row m-2">

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input modal-element" id="defaultInline1" name="inlineDefaultRadiosExample">
                    <label class="custom-control-label" for="defaultInline1">Take</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input modal-element" id="defaultInline2" name="inlineDefaultRadiosExample">
                    <label class="custom-control-label" for="defaultInline2">Give</label>
                </div>

                <!--Currency-->

                <div class="input-group  custom-control-inline" style="width:80px">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="@defaultCurrency.Id">@defaultCurrency.Id</option>
                        @if (currencies != null)
                        {
                            @foreach (var currency in currencies)
                            {
                                <option value="@currency.Id">@currency.Id</option>

                            }
                        }

                    </select>
                </div>

            </div>
            <!--Base-->
            <div class="form-group row m-2">
                <label for="base" class="control-label col-sm-5">Base</label>
                <div class="col-sm-7">
                    <input id="base" name="base" type="text" class="form-control" />
                </div>
            </div>
            <!--Interest-->
            <div class="form-group row m-2">
                <label for="interest" class="control-label  col-sm-5">Interest</label>
                <div class="col-sm-7">
                    <input id="interes" name="interest" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col">
            <!--Sum 1-->
            <div class="form-group row m-2">
                <label for="sum1" class="control-label col-sm-5">Sum</label>
                <div class="col-sm-7">
                    <input id="sum1" name="sum1" type="text" class="form-control" />
                </div>
            </div>
            <!--Rate-->
            <div class="form-group row m-2">
                <label for="rate" class="control-label col-sm-5">Rate</label>
                <div class="col-sm-7">
                    <input id="rate" name="rate" type="text" class="form-control" />
                </div>
            </div>
            <!--Sum 2-->
            <div class="form-group row m-2">
                <label for="sum2" class="control-label col-sm-5">Sum + Int</label>
                <div class="col-sm-7">
                    <input id="sum2" name="sum2" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col border">
            <!--Market Price-->
            <div class="form-group row m-2">
                <label for="marketprice" class="control-label col-sm-5">Market Price</label>
                <div class="col-sm-7">
                    <input id="marketprice" name="marketprice" type="text" class="form-control" />
                </div>
            </div>
            <!--Rate w/o FXcom-->
            <div class="form-group row m-2">
                <label for="ratewofxcom" class="control-label col-sm-5">Rate w/o FXcom</label>
                <div class="col-sm-7">
                    <input id="ratewofxcom" name="ratewofxcom" type="text" class="form-control" />
                </div>
            </div>
            <!--Comment-->
            <div class="form-group row m-2">
                <label for="comment" class="control-label col-sm-5">Comment</label>
                <div class="col-sm-7">
                    <input id="comment" name="comment" type="text" class="form-control" />
                </div>
            </div>
            <!--Sales Profit-->
            <div class="form-group row m-2">
                <label for="salesProfit" class="control-label col-sm-5">Sales Profit</label>
                <div class="col-sm-7">
                    <input id="salesProfit" name="salesProfit" type="text" class="form-control" />
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Dealer-->
            <div class="form-group row m-2">
                <label for="dealer" class="control-label col-sm-5">Dealer</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <select class="custom-select" id="dealer">
                            @if (dealers != null)
                            {
                                @foreach (var dealer in dealers)
                                {
                                    <option value="@dealer.Id">@dealer.Cdealername</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!--P&L(%)-->
            <div class="form-group row m-2">
                <label for="pl" class="control-label col-sm-5">P&L(%)</label>
                <div class="col-sm-7">
                    <input id="pl" name="pl" type="text" class="form-control" />
                </div>
            </div>
            <!--Broker-->
            <div class="form-group row m-2">
                <label for="broker" class="control-label col-sm-5">Broker</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <select class="custom-select" id="broker">
                            @if (brokers != null)
                            {
                                @foreach (var broker in brokers)
                                {
                                    <option value="@broker.Id">@broker.Cname</option>

                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            @*<div class="form-group row m-2">
            <label for="broker" class="control-label col-sm-5">Broker</label>
            <div class="col-sm-7">
                <input id="broker" name="broker" type="text" class="form-control" />
            </div>
        </div>*@
        </div>
        <div class="col">
            <!--Sales Person-->
            <div class="form-group row m-2">
                <label for="salesperson" class="control-label col-sm-5">Sales Person</label>
                <div class="col-sm-7">
                    <input id="salesperson" name="salesperson" type="text" class="form-control" />
                </div>
            </div>

            <div class="col-sm-7">
                <!--Netting-->
                <div class="custom-control custom-checkbox  custom-control-inline">
                    <label class="custom-control-label col-sm-5" for="netting">Netting</label>
                    <input type="checkbox" class="custom-control-input" id="netting" name="netting">
                </div>
                <!--Internal-->
                <div class="custom-control custom-checkbox  custom-control-inline">
                    <label for="internal" class="custom-control-label">Internal</label>
                    <input id="internal" type="checkbox" class="custom-control-input" name="internal" />
                </div>
                <!--Struct. Product-->
                <div class="custom-control custom-checkbox  custom-control-inline">
                    <label for="structproduct" class="custom-control-label">Struct. Product</label>
                    <input id="structproduct" type="checkbox" class="custom-control-input" name="structproduct" />
                </div>
            </div>

            <!--Trading Venue-->
            <div class="form-group row m-2">
                <label for="tradingvenue" class="control-label col-sm-5">Trading Venue</label>
                <div class="col-sm-7">
                    <input id="tradingvenue" name="tradingvenue" type="text" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col">
            <!--Book-->
            <div class="form-group row m-2">
                <label for="book" class="control-label col-sm-5">Book</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <select class="custom-select" id="book">
                            @if (books != null)
                            {
                                @foreach (var book in books)
                                {
                                    <option value="@book.Id">@book.Id</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

                <div class="col-sm-7">
                    <!--Collateral-->
                    <div class="custom-control custom-checkbox  custom-control-inline">
                        <label class="custom-control-label col-sm-5" for="collateral">Collateral</label>
                        <input type="checkbox" class="custom-control-input" id="collateral" name="collateral">
                    </div>
                    <!--Keep RUB Paym.-->
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <label for="keeprubpaym" class="custom-control-label">Keep RUB Paym.</label>
                        <input id="keeprubpaym" type="checkbox" class="custom-control-input" name="keeprubpaym" />
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success mb-3">Save changes</button>
        </div>
    </div>
</div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
                </div>*@
            @*</div>
        </div>
    </div>
</div>*@


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {


    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    public Depo newDepo = new Depo();
    public List<Currency> currencies;
    public List<Books> books;
    public List<Brokers> brokers;
    public List<Dealers> dealers;
    public Currency defaultCurrency;
    private Web.Pages.Orgs.OrgsListModal OrgsShow { get; set; }
   


    protected override async Task OnInitializedAsync()
    {

        currencies = await currencyService.ListAllAsync();
        // currencies = (List<Currency>)currencies.OrderBy(c => c.Iorder);
        defaultCurrency = await currencyService.GetByIdAsync("RUB");
        books = await booksService.ListAllAsync();
        brokers = await brokersService.ListAllAsync();
        dealers = await dealersService.ListAllAsync();
    }

    public async Task Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();

    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}
